In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
session.query(Measurement.tobs).filter(extract ('month', Measurement.date) == 6)

In [5]:
#  3. Convert the June temperatures to a list.
june_temp = [temp for temp in session.query(Measurement.tobs).filter(extract ('month', Measurement.date) == 6)]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temperatures = pd.DataFrame(june_temp,columns=['June Temps'])

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june = june_temperatures.describe()
june

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
session.query(Measurement.tobs).filter(extract ('month', Measurement.date) == 12)

In [10]:
# 7. Convert the December temperatures to a list.
december_temp = [temp for temp in session.query(Measurement.tobs).filter(extract ('month', Measurement.date) == 12)]

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temperatures = pd.DataFrame(december_temp,columns=['December Temps'])

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec = december_temperatures.describe()
dec

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [41]:
# Combined columns
combined_temps = pd.merge(jun, dec, on=jun.index)
combined_temps.columns = ['Stats', 'June Temp', 'December Temp']
combined_temps.set_index(a['Stats'], inplace=True)
print(combined_temps.to_string(index=False))

 Stats    June Temp  December Temp
 count  1700.000000    1517.000000
  mean    74.944118      71.041529
   std     3.257417       3.745920
   min    64.000000      56.000000
   25%    73.000000      69.000000
   50%    75.000000      71.000000
   75%    77.000000      74.000000
   max    85.000000      83.000000

In [42]:
combined_temps

       Stats    June Temp  December Temp
Stats
count  count  1700.000000    1517.000000
mean    mean    74.944118      71.041529
std      std     3.257417       3.745920
min      min    64.000000      56.000000
25%      25%    73.000000      69.000000
50%      50%    75.000000      71.000000
75%      75%    77.000000      74.000000
max      max    85.000000      83.000000

In [14]:
# Querying the database engine for the precipitation of both months
# Creating a list for both months

june_prcp = [june for june in session.query(Measurement.prcp).filter(extract ('month', Measurement.date) == 6).all()]

dec_prcp = [dec for dec in session.query(Measurement.prcp).filter(extract ('month', Measurement.date) == 12).all()]

In [29]:
# Creating the Dataframes
june_prcp_df = pd.DataFrame(june_prcp)
dec_prcp_df = pd.DataFrame(dec_prcp)

# Getting the statistics and combining the statistics column.
# Then setting the index as the 'Stats' column
prcp_stats_combined = june_prct_df.describe().merge(dec_prct_df.describe(), on=june_prcp_df.describe().index)
prcp_stats_combined.columns = ['Stats', 'June Precp', 'December Precp']
prcp_stats_combined.set_index(prcp_stats_combined['Stats'], inplace=True)

In [30]:
# Printing the combined precipitation stats dataframe
print(prcp_stats_combined.to_string(index=False))

 Stats   June Precp  December Precp
 count  1574.000000     1405.000000
  mean     0.136360        0.216819
   std     0.335731        0.541399
   min     0.000000        0.000000
   25%     0.000000        0.000000
   50%     0.020000        0.030000
   75%     0.120000        0.150000
   max     4.430000        6.420000

In [31]:
prcp_stats_combined

       Stats   June Precp  December Precp
Stats
count  count  1574.000000     1405.000000
mean    mean     0.136360        0.216819
std      std     0.335731        0.541399
min      min     0.000000        0.000000
25%      25%     0.000000        0.000000
50%      50%     0.020000        0.030000
75%      75%     0.120000        0.150000
max      max     4.430000        6.420000